# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CompanyEmployees.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\wduho\source\repos\CompanyEmployees\.idea\.idea.CompanyEmployees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
